<footer>
  <div style="display: flex">
    [{% for social in config.extra.social %}
    <a class="soc" href="{{ social.url }}" title="{{ social.name }}">
      <i data-feather="{{ social.icon }}"></i>
    </a>
    {% endfor %}]
  </div>
  ⚡
  <div class="footer-info">
   <div>[ {{ now() | date(format="%Y") }} © {{ config.extra.copyright }} </div>
    <div>
      <span>Powered by</span> <a href="https://www.getzola.org/">Zola</a>
    </div>
    <div><span>Inspired by</span> <a href="https://github.com/XXXMrG/archie-zola">Archie-Zola Theme</a> ]</div>
  </div>
</footer>

{% if config.extra.social %}
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace();
</script>
{% endif %}
